.container {
    max-width: 900px;
}

.card {
    border-radius: 12px;
}

mark {
    background-color: #ffeb3b;
    color: #000;
    padding: 2px 5px;
    border-radius: 4px;
    font-weight: bold;
}

h5{
    color:#1565C0;
    font-weight:600;
}

p{
    margin-bottom:8px;
}